<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p><p>I am a seasoned Intelligence Data Analyst/Database Manager transitioning into the world of Cybersecurity after five years of practical technical education and certification experience. I continously maintain and catalog my information technology and cybersecurity expertise within a virtual machine environment, which is recorded within this portfolio by use case.

My educational background is a Bachelors of Science in Cybersecurity from Saint Leo University. My certification history includes the following; recertification in CompTIA Security + CE and EC Council Certified Ethical Hacker, as well the practical Blue Team Level 1 and GRC Mastery certifications.

My professional background includes nearly five years of blue team cybersecurity know-how and 14+ years experience in intelligence data analysis, log aggregation, and database management while proudly serving as a U.S. Navy Sailor and contractor with the DoD.</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL, HTML-CSS-Javascript<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Snort, Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Endpoint Security (EDR), Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Classified Enterprises, Microsoft Suite, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://www.youtube.com/watch?v=2qBlE2-WL60" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
